bak/**
.idea/**
css/**
sylvester.js
*.iml
client
node
node.exe
nodemaster.html
nodeslave.html
package.json
schema.js
web.js
nodeworker.js
npm.cmd



node_modules

############
## Windows
############

# Windows image file caches
Thumbs.db 

# Folder config file
Desktop.ini
